* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin: auto;
	width: 100%;
	text-align: center;
}

table {
	width: 9rem;
	margin: 2rem auto;
}

td {
	padding: 3rem;
	margin: 0;
}

.one td,
.two td {
	border-bottom: 1px solid black;
}

.center {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
